<div class="header-container">
  <div class="main-logo-wrp">
    <span class="mainLogo"></span>
    <p class="main__logo__txt">CruiseRentalHub</p>
  </div>
  <nav>
    <ul>
      <li routerLink="home" routerLinkActive="active__link">Home</li>
      <li routerLink="account" routerLinkActive="active__link">Account</li>
      <li routerLinkActive="active__link">Locations</li>
      <li routerLinkActive="active__link">Our deals</li>
      <li routerLinkActive="active__link">Vehicles</li>
      <li routerLinkActive="active__link">Services</li>
    </ul>
  </nav>
  <div class="auth-btn-wrp">
    <button class="sign__in"><span class="user__icon"></span>Sign In</button>
    <button class="sign__up"><span class="lock__icon"></span>Sign up</button>
  </div>
</div>
