<div class="header-container">
  <span class="bars" (click)="openNavbar()"></span>
  <div class="main-logo-wrp">
    <span class="mainLogo"></span>
    <p class="main__logo__txt">CruiseRentalHub</p>
  </div>
  <nav [ngClass]="{ navbar__open: isNavbarOpen$ | async }">
    <ul>
      <span class="close__navbar" (click)="closeNavbar()"></span>
      <li routerLink="home" routerLinkActive="active__link">Home</li>
      <li routerLink="account" routerLinkActive="active__link">Account</li>
      <li routerLink="locations" routerLinkActive="active__link">Locations</li>
      <li routerLinkActive="active__link">Our deals</li>
      <li routerLinkActive="active__link">Vehicles</li>
      <li routerLinkActive="active__link">Services</li>
    </ul>
  </nav>
  <div class="auth-btn-wrp">
    <button routerLink="/account/signIn" class="sign__in">
      <span class="user__icon"></span>Sign In
    </button>
    <button routerLink="/account/signUp" class="sign__up">
      <span class="lock__icon"></span>Sign up
    </button>
  </div>
</div>
