<div class="how-works-container">
  <!--heading text wrp -->
  <div class="how-works-heading-wrp">
    <h6>How it works</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      facilis!
    </p>
  </div>
  <!--end of heading wrp-->
  <!--wrp of details with icons-->
  <div class="how-works-icon-wrp">
    <div class="divider">
      <p>1.Chose location</p>
      <div class="icon-wrp blue--bg">
        <span class="pickLocation__icon"></span>
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In inventore
        deserunt ea eligendi iure?
      </p>
    </div>
    <div class="divider">
      <p>2.Pick-up locations</p>
      <div class="icon-wrp orange--bg">
        <span class="location__icon"></span>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam
        nam quaerat?
      </p>
    </div>
    <div class="divider">
      <p>3.Book your car</p>
      <div class="icon-wrp dark--bg">
        <span class="car__icon"></span>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
        pariatur nobis rem veritatis harum alias?
      </p>
    </div>
  </div>
  <!--end of details wrp-->
</div>
