<div class="booking-form-container">
  <form>
    <!--divider to wrap inputs for responsive-->
    <div class="divider">
      <div class="label-wrp">
        <label for="location">Location</label>
        <div class="input-field-icon-wrp">
          <span class="location__icon"></span>
          <input
            type="text"
            name="location"
            placeholder="Enter city,Location"
          />
        </div>
      </div>
      <div class="label-wrp">
        <label for="pickupDate">Pickup Date</label>
        <div class="input-field-icon-wrp">
          <input type="date" name="pickupDate" />
        </div>
      </div>
      <div class="label-wrp">
        <label for="pickupTime">Pickup Time</label>
        <div class="input-field-icon-wrp">
          <input type="time" name="pickupTime" />
        </div>
      </div>
    </div>
    <!--end of first divider-->

    <!--second divider for responsive-->
    <div class="divider">
      <div class="label-wrp">
        <label for="returnDate">Return Date</label>
        <div class="input-field-icon-wrp">
          <input type="date" name="returnDate" />
        </div>
      </div>
      <div class="label-wrp">
        <label for="returnTime">Return Time</label>
        <div class="input-field-icon-wrp">
          <input type="time" name="returnTime" />
        </div>
      </div>
      <button class="search__btn">Search</button>
    </div>
    <!--end of second divider-->
  </form>
</div>
