<div class="main-image-panel-container">
  <div class="main-image-item main-image-text-wrp">
    <div>
      <h6><span class="thumbs__up__icon"></span>Trusted car rental platform</h6>
    </div>
    <div>
      <h1>Find your best</h1>
      <h1>dream car for rental</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde mollitia
      quidem temporibus numquam suscipit, nemo porro velit aut, laboriosam sit
      dolor fuga incidunt corporis iste perspiciatis? Iste commodi nam delectus
      earum sapiente, voluptatum est obcaecati nisi cumque facere ea vero?
    </p>
  </div>
  <div class="main-image-item">
    <div class="img-wrp">
      <img src="assets/images/home/lambo3.jpg" alt="lambo" />
    </div>
  </div>
</div>
