@import "../../../../../styles.scss";
.main-image-panel-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("/assets/images/home/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  .main-image-item {
    position: relative;
    width: 50%;
    height: 100%;

    button {
      margin-left: 1rem;
      background-color: transparent;
      font-family: "Monserrat";
      font-size: 1rem;
      padding: 0.5rem;
      width: 150px;
      cursor: pointer;
      border: 2px solid $primary-black;
      border-radius: 2px;
      font-weight: 800;

      &:hover {
        background-color: $primary-orange;
        color: white;
        border: 2px solid $primary-orange;
      }
    }

    .img-wrp {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
        object-fit: contain;
        z-index: -1;
      }
    }
  }

  .main-image-text-wrp {
    h6 {
      font-size: 1.1rem;
      margin-left: 1rem;
      color: $primary-light-grey;
      font-style: italic;
    }

    h1:nth-child(1) {
      color: $primary-orange;
    }

    h1 {
      font-size: 2rem;
      margin-left: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 1px 1px;
      text-align: left;
      font-family: "Oswald";
    }

    p {
      color: $primary-grey;
      text-align: justify;
      margin-left: 1rem;
    }
  }

  .thumbs__up__icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/icons/mainImagePanel/thumbsUp.svg");
    margin-right: 5px;
  }
}

@media only screen and (max-width: 750px) {
  .main-image-panel-container {
    .main-image-text-wrp {
      width: 100%;

      p {
        margin-left: 0;
        padding: 1rem;
      }
    }

    .right-side-img-wrp {
      display: none;
    }
  }
}

@media only screen and (max-width: 420px) {
  .main-image-panel-container {
    height: 550px;
  }
}
