@import "../../../../../styles.scss";
.search-location-container {
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: $primary-orange;
  align-items: center;
  form {
    width: 70%;
    display: flex;
    flex-direction: column;

    .filtered-locations-wrp {
      position: absolute;
      top: 200px;
      background-color: white;
      width: 70%;
      height: 120px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      p {
        padding-left: 1rem;
        color: $saphire-blue;
        font-weight: bold;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
        li {
          list-style: none;
          padding: 10px;
          border-top: 1px solid $primary-light-grey;
          border-bottom: 1px solid $primary-light-grey;
          width: 80%;
          padding: 1rem;
          cursor: pointer;
        }
      }
    }

    input {
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: none;

      &::placeholder {
        padding-left: 1rem;
        font-size: 1rem;
        font-style: italic;
      }
    }

    button {
      height: 40px;
      width: 50%;
      margin: auto;
      margin-top: 50px;
      cursor: pointer;
      background-color: $primary-light-grey;
      color: $primary-black;
      border-radius: 5px;
      border: none;
      box-shadow: 2px 2px 2px black;
    }
  }
}
