<div class="footer-container">
  <div class="footer-links-wrp">
    <div class="border-box">
      <h6>About Company</h6>
      <div class="border-left"></div>
    </div>

    <ul>
      <li>Our Company</li>
      <li>Pricing</li>
      <li>Payment methods</li>
    </ul>
  </div>
  <div class="footer-links-wrp">
    <div class="border-box">
      <h6>Vehicle Types</h6>
      <div class="border-left"></div>
    </div>

    <ul>
      <li>All Vehicles</li>
      <li>SUVs</li>
      <li>Crossovers</li>
      <li>Pickups</li>
      <li>Electric Vehicles</li>
      <li>Hybrids</li>
    </ul>
  </div>
  <div class="footer-links-wrp">
    <div class="border-box">
      <h6>Quick links</h6>
      <div class="border-left"></div>
    </div>

    <ul>
      <li>My Account</li>
      <li>Locations</li>
      <li>Services</li>
    </ul>
  </div>
  <div class="footer-links-wrp">
    <div class="border-box">
      <h6>Contact info</h6>
      <div class="border-left"></div>
    </div>

    <ul>
      <li>
        <div class="icon-wrp"><span class="phone__icon"></span></div>
        +4565475859
      </li>
      <li>
        <div class="icon-wrp"><span class="mail__icon"></span></div>
        test&#64;gmail.com
      </li>
    </ul>
    <form>
      <div class="email-input-wrp">
        <span class="emailGrey__icon"></span>
        <input type="email" placeholder="enter email here" />
        <span class="plane__icon"></span>
      </div>
    </form>
    <p class="connect__with__us">Connect with us:</p>
    <div class="social-links-wrp">
      <div class="social-icon-wrp facebook--bg">
        <span class="facebook__icon"></span>
      </div>
      <div class="social-icon-wrp instagram--bg">
        <span class="instagram__icon"></span>
      </div>
      <div class="social-icon-wrp linkedin--bg">
        <span class="linkedin__icon"></span>
      </div>
    </div>
  </div>
</div>
<div class="payment-method-container">
  <p>Copyright {{ copyRightYear }}</p>
  <div class="payments-wrp">
    <span class="visa__icon"></span>
    <span class="master__icon"></span>
    <span class="gPay__icon"></span>
    <span class="payPal__icon"></span>
  </div>
</div>
