<!--CAR ITEM-->
<div class="car-item-container">
  <div class="img-wrp">
    <img src="assets/images/home/bmw.png" alt="bmw.png" />
  </div>
  <!--model and rating-->
  <div class="model-and-rating-wrp">
    <p class="car__model">BMW Series 3</p>
    <div class="rating-wrp">
      <star-rating [starType]="'svg'" [rating]="2.63"></star-rating>
    </div>
  </div>
  <!--end model and rating-->
  <!--car specifications-->
  <div class="car-spec-wrp">
    <div class="icons-column">
      <div class="icon-wrp"><span class="steer__icon"></span>Manual</div>
      <div class="icon-wrp"><span class="speed__icon"></span>Speed</div>
      <div class="icon-wrp"><span class="gas__icon"></span>Gas</div>
    </div>
    <div class="icons-column">
      <div class="icon-wrp"><span class="engine__icon"></span>Turbo</div>
      <div class="icon-wrp"><span class="age__icon"></span>2021</div>
      <div class="icon-wrp"><span class="capacity__icon"></span>5</div>
    </div>
  </div>
  <!--end car specification-->
  <!--location and price wrp-->
  <div class="location-price-wrp">
    <div class="location-wrp">
      <span class="location__icon"></span> New York
    </div>
    <div class="price-wrp"><span class="price">180$</span>/hour</div>
  </div>
  <!--end location price wrp-->
  <!--rent button-->
  <div class="rent-btn-wrp">
    <button><span class="date__icon"></span>Rent now</button>
  </div>
  <!--end rent btn-->
</div>
<!-- END CAR ITEM-->
