<!--CAR ITEM-->
@if(car){
<div class="car-item-container">
  <div class="img-wrp">
    <img src="{{ car.mainImage }}" alt="{{ car.mainImage }}" />
  </div>
  <!--model and rating-->
  <div class="model-and-rating-wrp">
    <p class="car__model">{{ car.model }}</p>
    <p class="car__make">{{ car.make }}</p>
    <div class="rating-wrp">
      <star-rating [starType]="'svg'" [rating]="car.rating"></star-rating>
    </div>
  </div>
  <!--end model and rating-->
  <!--car specifications-->
  <div class="car-spec-wrp">
    <div class="icons-column">
      <div class="icon-wrp">
        <span class="steer__icon"></span>{{ car.shiftType }}
      </div>
      <div class="icon-wrp">
        <span class="speed__icon"></span>{{ car.maxSpeed }}
      </div>
      <div class="icon-wrp">
        <span class="gas__icon"></span>{{ car.gasType }}
      </div>
    </div>
    <div class="icons-column">
      <div class="icon-wrp">
        <span class="engine__icon"></span>{{ car.engine }}
      </div>
      <div class="icon-wrp"><span class="age__icon"></span>{{ car.year }}</div>
      <div class="icon-wrp">
        <span class="capacity__icon"></span>{{ car.capacity }}
      </div>
    </div>
  </div>
  <!--end car specification-->
  <!--location and price wrp-->
  <div class="location-price-wrp">
    <div class="location-wrp">
      <span class="location__icon"></span> {{ car.location }}
    </div>
    <div class="price-wrp">
      <span class="price">{{ car.hourPrice }}</span
      >/hour
    </div>
  </div>
  <!--end location price wrp-->
  <!--rent button-->
  <div class="rent-btn-wrp">
    <button><span class="date__icon"></span>Rent now</button>
  </div>
  <!--end rent btn-->
</div>

}

<!-- END CAR ITEM-->
