<div class="why-chose-us-container">
  <!--heading wrapper-->
  <div class="heading-wrp">
    <h6>Why Chose Us</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet possimus
      placeat fugiat, harum in molestiae?
    </p>
  </div>
  <!--end heading wrp-->
  <!--deatails wrp-->
  <div class="chose-us-details-wrp">
    <div class="chose-us-item">
      <div class="icon-wrp black--bg"><span class="location__icon"></span></div>
      <h6>Easy & Fast Booking</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod.
      </p>
    </div>
    <div class="chose-us-item">
      <div class="icon-wrp green--bg"><span class="booking__icon"></span></div>
      <h6>Many Pickup locations</h6>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, quidem?
      </p>
    </div>
    <div class="chose-us-item">
      <div class="icon-wrp"><span class="customer__icon"></span></div>
      <h6>Customer Satisfaction</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, nulla!
      </p>
    </div>
  </div>
  <!--end details wrp-->
</div>
