@import "../../../../../styles.scss";

.most-popular-cars-container {
  position: relative;
  height: auto;

  .heading-wrp {
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h6 {
      font-size: 1.3rem;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  .car-selection-container {
    ul {
      display: flex;
      padding: 0;
      justify-content: center;
      li {
        list-style: none;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $primary-blue;
          color: white;
          border-radius: 5px;

          .audi__icon {
            content: url("/assets/icons/mostPopularCars/audi-white.svg");
          }

          .bmw__icon {
            content: url("/assets/icons/mostPopularCars/bmw-white.svg");
          }

          .tesla__icon {
            content: url("/assets/icons/mostPopularCars/tesla-white.svg");
          }

          .volkswagen__icon {
            content: url("/assets/icons/mostPopularCars/volkswagen-white.svg");
          }
        }

        .bmw__icon {
          display: block;
          background: url("/assets/icons/mostPopularCars/bmw.svg");
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }

        .audi__icon {
          display: block;
          background: url("/assets/icons/mostPopularCars/audi.svg");
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }

        .volkswagen__icon {
          display: block;
          background: url("/assets/icons/mostPopularCars/volkswagen.svg");
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }

        .tesla__icon {
          display: block;
          background: url("/assets/icons/mostPopularCars/tesla.svg");
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
    }
  }
}

//router active link
.popularCarsActiveLink {
  background-color: $primary-blue;
  color: white;

  //icons

  .audi__icon {
    content: url("/assets/icons/mostPopularCars/audi-white.svg");
  }

  .bmw__icon {
    content: url("/assets/icons/mostPopularCars/bmw-white.svg");
  }

  .tesla__icon {
    content: url("/assets/icons/mostPopularCars/tesla-white.svg");
  }

  .volkswagen__icon {
    content: url("/assets/icons/mostPopularCars/volkswagen-white.svg");
  }
}

@media only screen and (max-width: 800px) {
  .most-popular-cars-container {
    .car-selection-container {
      ul {
        flex-wrap: wrap;

        li {
          width: 100px;
        }
      }
    }
  }
}
