<div class="bottom-banner-container">
  <!--banner text-->
  <div class="details-wrp">
    <h6>Friendly App Avaliable</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, dolor?
    </p>
    <!--app store google play wrp-->
    <div class="google-play-app-store-wrp">
      <div class="google-play-wrp">
        <span class="google__icon"></span>
        <div>
          <p>Get it on</p>
          <p>Google play</p>
        </div>
      </div>
      <div class="app-store-wrp">
        <span class="apple__icon"></span>
        <div>
          <p>Get it on</p>
          <p>App Store</p>
        </div>
      </div>
    </div>
    <!--end app store-->
  </div>
  <!--end banner text-->
  <!--banner image-->
  <div class="img-wrp">
    <img src="assets/images/bottom-banner/car.png" alt="car.png" />
  </div>
  <!--end banner image-->
</div>
