/* You can add global styles to this file, and also import other style files */
@import "../node_modules/css-star-rating/scss/star-rating.scss";

//colors
$primary-orange: #f39c12;
$primary-black: #323232;
$primary-light-grey: #c4c2c2;
$primary-grey: #919090;
$primary-blue: #34addd;
$primary-blue-green: #088f8f;
$facebook: #1877f2;
$instagram-purple-red: #e1306c;
$linkedin: #0077b5;
$saphire-blue: #0f52ba;

//routerLinkActive
.active__link {
  color: $primary-orange !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

//fonts

@font-face {
  font-family: "Lobster";
  src: url("assets/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "DM Serif";
  src: url("assets/fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald-Regular.ttf");
}
