<div class="pricing-package-container">
  <!--heading wrp-->
  <div class="heading-wrp">
    <h6>Transparent pricing for you</h6>
    <p>choose a package that suit you</p>
  </div>
  <!--end heading wrp-->
  <div class="pricing-list-wrp">
    <!--first item with image-->
    <div class="pricing-item blueGreen--bg">
      <h6>Save more with good plans</h6>
      <p>Choose a plan and get onboard in minutes</p>
      <img src="assets/images/price-package/car.png" alt="car.png" />
    </div>
    <!--end of first item with image-->
    <div class="pricing-item">
      <div class="item-heading-wrp">Essential</div>
      <div class="price-wrp">
        <p>125$</p>
        <span>per month</span>
      </div>
      <ul>
        <li><span class="checkMark__icon"></span>Get starting message</li>
        <li><span class="checkMark__icon"></span>Min 1 month extend anytime</li>
        <li>
          <span class="checkMark__icon"></span>Rental car prices include tax
        </li>
        <li><span class="xMark__icon"></span>Extend and return anytime</li>
        <li><span class="xMark__icon"></span>Doorstep delivery in 2 days</li>
        <li>
          <span class="xMark__icon"></span>car system included free of charge
        </li>
      </ul>
    </div>
    <div class="pricing-item">
      <div class="item-heading-wrp orange--bg">Recommended</div>
      <div class="price-wrp">
        <p>125$</p>
        <span>per month</span>
      </div>
      <ul>
        <li><span class="checkMark__icon"></span>Get starting message</li>
        <li><span class="checkMark__icon"></span>Min 1 month extend anytime</li>
        <li>
          <span class="checkMark__icon"></span>Rental car prices include tax
        </li>
        <li><span class="checkMark__icon"></span>Extend and return anytime</li>
        <li><span class="xMark__icon"></span>Doorstep delivery in 2 days</li>
        <li>
          <span class="xMark__icon"></span>car system included free of charge
        </li>
      </ul>
    </div>
    <div class="pricing-item">
      <div class="item-heading-wrp">Pro</div>
      <div class="price-wrp">
        <p>125$</p>
        <span>per month</span>
      </div>
      <ul>
        <li><span class="checkMark__icon"></span>Get starting message</li>
        <li><span class="checkMark__icon"></span>Min 1 month extend anytime</li>
        <li>
          <span class="checkMark__icon"></span>Rental car prices include tax
        </li>
        <li><span class="checkMark__icon"></span>Extend and return anytime</li>
        <li>
          <span class="checkMark__icon"></span>Doorstep delivery in 2 days
        </li>
        <li>
          <span class="checkMark__icon"></span>car system included free of
          charge
        </li>
      </ul>
    </div>
  </div>
  <!--end pricing list wrp-->
</div>
